.button {
  cursor: pointer;
  font-weight: 700;
  color: #ffffff;
  background-color: #2c60e3;
  border: none;
  width: 255px;
  height: 48px;
  box-shadow: 0px 4px 20px 1px rgba(44, 96, 227, 0.25);
  border-radius: 5px;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration__title {
  color: #333333;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.registration__input {
  margin-bottom: 15px;
  height: 44px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  padding-left: 15px;
}

.registration__input::placeholder {
  color: #757575;
}

.registration__checkboxGroup {
  margin-bottom: 30px;
  margin-left: -8px;
}

.registration__checkbox {
  position: absolute;
  opacity: 0;
}

.registration__checkboxText {
  color: #757575;
  margin-left: 8px;
}

.registration__checkboxText::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  background-size: 20px;
  border: 1px solid #2c60e3;
  border-radius: 5px;
  margin-right: 8px;
}

.registration__checkbox:checked ~ .registration__checkboxText::before {
  background-image: url("./../../media/checkbox-checked.svg");
}

.registration__checkboxText,
.registration__checkboxText > a {
  font-size: 13px;
}

.registration__checkboxText > a:visited {
  color: #2c60e3;
}

@media (min-width: 1240px) {
  .registration__input {
    width: 445px;
  }
}

@media (max-width: 1099px) {
  .registration__form {
    align-items: center;
  }

  .registration__input {
    width: 343px;
    margin-bottom: 17.5px;
  }

  .registration__checkboxGroup {
    margin-bottom: 32.5px;
    align-self: flex-start;
  }

  .registration__submit {
    margin-bottom: 20px;
    width: 343px;
  }
}
